{% extends "base.html" %}
{% block title %} {{super()}} - Compra concluída! {% endblock %}

{% block content %}
<h1>Uma decisão visionária!</h1>
<h2>Seu pedido do Kit PermaBubble foi confirmado.</h2>

<p>Prezado(a) NOME,</p>
<p>Em nome de toda a equipe da PermaBubble Innovations, nós o(a) parabenizamos.</p>
<p>A ordem [Número do Pedido] foi recebida e está sendo processada, você receberá as informações sobre o envio pelo
    email cadastrado. Mas isto não é apenas um sinal de confirmação da compra do kit; é uma carta de aceitação. Você deu o primeiro e
    mais crucial passo para combater a epidemia global de Popfobia.</p>

<p>Enquanto outros se contentam com a alegria fugaz e a inevitável tragédia do estouro, você escolheu intervir. Você
    escolheu a estabilidade. Você escolheu a ciência.</p>

<p>Você não é mais um mero "soprador de bolhas". Você está prestes a se tornar um Técnico de Integridade Esférica.</p>

<p>Estamos honrados em tê-lo(a) conosco nesta fronteira da ciência recreativa.</p>

<p>Atenciosamente,<br>
    A Equipe de Preservação da PermaBubble</p>

<small>Aviso legal: A PermaBubble Innovations não se responsabiliza por horas de frustração, crises de identidade ao
    falhar em
    consertar uma bolha, ou por bolhas que estourem devido à gravidade, ao tempo, ao ar, ou pelo simples fato de serem
    bolhas. Os resultados podem (e irão) variar.</small>
{% endblock %}